.section {
    margin: auto;
    max-width: 320px;

    @media screen and (min-width: $tablet) {
        max-width: 768px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 1360px;
    }
}